/* RESET & BASE */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: #fff;
    color: #333;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* NAVBAR */
header {
    padding: 20px 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-menu {
    display: flex;
    list-style: none;
    gap: 30px;
}

.nav-menu a {
    text-decoration: none;
    color: #333;
    font-size: 14px;
    font-weight: 500;
}

.btn-top {
    background-color: #4a7c59;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 14px;
}


/*HERO SECTION */
.hero {
    position: relative;
    height: 600px;
    display: flex;
    align-items: center;
    color: white;
    text-align: center;
    overflow: hidden;
}

.hero-bg {
    position: absolute;
    top: 0; 
    left: 0; 
    width: 100%;
     height: 100%;
    z-index: -1;
}

.hero-bg img {
    width: 100%;
     height: 100%; object-fit: cover;
}

.hero-content {
    width: 100%;
}

.early-access-badge {
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255,255,255,0.3);
    padding: 8px 16px;
    border-radius: 20px;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    font-size: 12px;
    color: green;
    background-color:white;
}

.check-icon { width: 15px; }

.hero h1 {
    font-size: 56px;
    margin: 20px 0;
    font-weight: 700;
}

.green-text { color: #4ade80; }

.hero p {
    font-size: 18px;
    max-width: 700px;
    margin: 0 auto 30px;
    opacity: 0.9;
}

.hero-actions {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.btn-primary {
    background: #4ade80;
    color: white;
    border: none;
    padding: 15px 30px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;

}

.btn-outline {
    background: transparent;
    border: 1px solid white;
    color: white;
    padding: 15px 30px;
    border-radius: 5px;
    cursor: pointer;
}


/* PROBLEM SECTION */
.problems { padding: 100px 0; text-align: center; }

.section-title { font-size: 36px; margin-bottom: 10px; }

.section-subtitle { color: #777; margin-bottom: 50px; }

.problem-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
    
}

.card {
    padding: 40px;
    background: #fff;
    border: 1px solid #efe8e8;
    border-radius: 10px;
    text-align: center;
    box-shadow:0px 0px 8px 0px rgba(0, 0, 0, 0.06);
}

.card-icon {
    width: 50px; height: 50px;
    border-radius: 50%;
    display: flex; align-items: center; justify-content: center;
    margin: 0 auto 20px;
    font-size: 24px;
}

.red-bg { 
    background: rgba(249, 85, 85, 1);
 }


/* rgba(249, 85, 85, 1); */
/* SOLUTION SECTION */
.solution {
    display: flex;
    align-items: center;
    padding: 100px 0;
    gap: 50px;
}

.solution-content { 
    padding: 60px;
    display: flex;
     align-items: center;
      width: 100%; }
      



.solution-img { 
    flex: 1;
 }
.solution-img img {
     width: 100%;
     }

.solution-text {
     flex: 1;
      padding: 60px;
     }

.sub-label { 
    color: #4ade80; 
    font-weight: bold;
     font-size: 14px; 
    }

.check-list { 
    list-style: none; 
    margin-top: 20px; 
}

.check-list li {
    display: flex; 
    align-items: center;
    gap: 10px; 
    margin-bottom: 10px;
}

.check-list img { width: 18px; }

/* CTA SECTION */
.cta { padding: 80px 0; }

.cta-box {
    background: #fcfcf9;
    padding: 80px;
    text-align: center;
    border-radius: 20px;
}
.cta-box p{
    font-size: 12;
}

.small-text { font-size: 12px; 
    color: #999;
     margin-top: 15px; }


/* FOOTER */
.footer {
    background: #051622;
    color: white;
    padding: 80px 0 20px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.footer-bottom {
    border-top: 1px solid #1a2a35;
    padding-top: 20px;
    text-align: center;
    font-size: 12px;
}